---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hi!</h1>
    <p>
      My name is <a href="https://github.com/abanoub-samy-farhan" class="text-purple-50"> Abanoub Aziz</a>, and this is
      my comfort zone.
    </p>
    <p>
      I generally enjoy building and learning niche things. Currently diving NodeJS internals, Database internals, and
      some other random stuff. I would let you navigate through my blog, projects, and random talks, hopfully you enjoy
      it!
    </p>
    <p>
      I'm also a chess player (not very good tho but good enough), if you find yourself interested in playing a game,
      you know where to <a href="https://www.chess.com/member/abanoub6709"> find me</a>.
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
